

path {
  stroke: black;
  stroke-width: 0.25px;
  fill: #fafafa;
}

div.tooltip {
  position: absolute;
  width: 200px;
  padding: 8px;
  font: 12px sans-serif;
  background: #fff;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}

.boldDetail{
  font-weight: bold;
}

.normalDetail{
  font-weight: normal;
}

#charts {
  padding: 10px 0;
}

#about{
  text-align: center;
  font-size: 90%;
}

#links{
  text-align: right;
  margin-right: 267px;
  margin-bottom: 10px;
}

.blacklink{ 
  color:black;
  margin-bottom: 10px;
}

.chart {
  display: inline-block;
  height: 151px;
  margin-bottom: 20px;
}

#map{
  border-bottom: solid 1px #aaa;
  border-top: solid 1px #aaa;
  height: 500px;
  overflow: hidden;
}

